/**
 * @Date:   yyyy-Dec-22
 * @Email:  FlydomTeam@163.com
 * @Project: FlyDom
 * @Last modified time: yyyy-Dec-22
 * @Copyright: SingleTeam
 */



@charset "utf-8";
html{height:100%;}
body{
	background:#090b44; /* Old browsers */
	background:-moz-radial-gradient(center, ellipse cover, #090b44 0%, #00001c 100%); /* FF3.6+ */
	background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#090b44), color-stop(100%,#00001c)); /* Chrome,Safari4+ */
	background:-webkit-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* Chrome10+,Safari5.1+ */
	background:-o-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* Opera 12+ */
	background:-ms-radial-gradient(center, ellipse cover, #090b44 0%,#00001c 100%); /* IE10+ */
	background:radial-gradient(ellipse at center, #090b44 0%,#00001c 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#090b44', endColorstr='#00001c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	padding:0;
	text-align:center;
	font-family:'open sans';
	position:relative;
	margin:0;
	height:100%;
	padding-bottom:50px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
a{text-decoration:none;}
canvas{display:block;width:100%;height:100%;top:0;left:0;position:fixed;}
canvas.flare{opacity:0.5;}

[class^="tree"] {
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent #004511 transparent;
  border-radius: 100%;
   -webkit-transform:rotate(360deg);
  z-index: 2;
}

.chirtmas {
	position: absolute;
	margin-top: 800px;
	left: 100px;
}

.chirtmas1 {
	position: absolute;
	margin-top:800px;
	right: 100px;
}

.content {
	postion:absolute;
	color: yellow;
	margin-top: 300px;
	font0-size: large;
}

.tree1 {
  margin-left: 100px;
  border-width: 0 100px 50px 100px;
}

.tree2 {
  top: -10px;
  margin-left: 50px;
  border-width: 0 150px 80px 150px;
}

.tree3 {
  top: -30px;
  border-width: 0 200px 100px 200px;
}

.trunk {
  position: relative;
  width: 30px;
  height: 50px;
  margin-left: 180px;
  top: -35px;
  background-color: #53350a;
  z-index: 1;
}

.star-container {
  position: relative;
  height: 100px;
  width: 100px;
  margin-left: 175px;
  top: 35px;
  z-index: 3;
}

.star {
   margin: 50px 0;
   position: absolute;
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 0 25px 17px 25px;
   border-color: transparent transparent #ffd105 transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}

.star:before {
  position: absolute;
  height: 0;
  width: 0;
  top: 0px;
  left: -25px;
  content: '';
   border-style: solid;
   border-width: 0 25px 17px 25px;
   border-color: transparent transparent #ffd105 transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform:    rotate(-70deg);
  -ms-transform:     rotate(-70deg);
  -o-transform:      rotate(-70deg);
}

.star:after {
  position: absolute;
  height: 0;
  width: 0;
  top: -12px;
  left: -16px;
  content: '';
   border-style: solid;
   border-width: 0 10px 20px 10px;
   border-color: transparent transparent #ffd105 transparent;
  -webkit-transform: rotate(-35deg);
  -moz-transform:    rotate(-35deg);
  -ms-transform:     rotate(-35deg);
  -o-transform:      rotate(-35deg);
}

.ornament {
  position: relative;
  background-color: #fff3a6;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  z-index: 1;
}

.ornament:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: 12px;
  left: -5px;
  border-style: solid;
  border-color: red transparent transparent transparent;
  border-radius: 100%;
}

.ornament:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  top: -5px;
  left: 11px;
  border-style: solid;
  border-color:  transparent transparent red transparent;
  border-radius: 100%;
}

[class^="ornament-container"] {
  position: absolute;
  z-index: 3;
}

.ornament-container1 {
  top: 145px;
  left: 130px;
}

.ornament-container2 {
  top: 200px;
  left: 270px;
}

.ornament-container3 {
  top: 300px;
  left: 130px;
}

[class^="light"] {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  animation:light 5s;
  -moz-animation:light 5s infinite; /* Firefox */
  -webkit-animation:light 5s infinite; /* Safari and Chrome */
  z-index: 3;
}

@-moz-keyframes light /* Firefox */
{
  0%   {background:transparent;}
  50%  {background:#ffd105;}
  100%   {background:transparent;}
}

@-webkit-keyframes light /* Safari and Chrome */
{
  0%   {background:transparent;}
  50%  {background:#ffd105;}
  100%   {background:transparent;}
}

.light1 {
  top: 150px;
  left: 180px;
}

.light2 {
  top: 130px;
  left: 210px;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}

.light3 {
  top: 200px;
  left: 130px;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.light4 {
  top: 210px;
  left: 220px;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.light5 {
  top: 260px;
  left: 180px;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}

.light6 {
  top: 280px;
  left: 110px;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.light7 {
  top: 270px;
  left: 270px;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.light8 {
  top: 285px;
  left: 355px;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}

.light9 {
  top: 300px;
  left: 200px;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.light10 {
  top: 180px;
  left: 240px;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
